.about-page{
    position: absolute;
    inset: 0;
    background: linear-gradient(106.89deg, rgba(192, 132, 252, 0.11) 15.73%, rgba(14, 165, 233, 0.41) 15.74%, rgba(232, 121, 249, 0.26) 56.49%, rgba(79, 70, 229, 0.4) 115.91%);
    filter: blur(118px);
    max-width: 1180px;
    max-height: 100vh;
}

.sectiontag {
    color: #562bf4;
    font-size: 2.5rem;
}

.subsectiontag {
    color: #b2b9c6 !important;
    font-size: 1.2rem;
    font-weight: 400;
}

.secright {
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: 45px auto;
    border-bottom: 1px solid #ffffff94;
    border-radius: 22px;
    gap: 50px;
    padding: 35px 35px; 
    
}


.secleft {
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: 35px auto;
    /* border: 1px solid #fff; */
    border-radius: 22px;
    gap: 50px;
    padding: 25px 35px;
    flex-direction: row-reverse;
    border-bottom: 1px solid #fff;
   
}

.thumbnail img {
    height: 400px;
    width: 450px;
}


.subsectiontag {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    margin-top: 50px;
}

.container h1 {
    margin-top: 50px;
}

/* .sign {
    background: url('') no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
    background-position: 50% 50%;
}

.sign h1 {
    font-family: 'lobster', cursive;
} */

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px;
}