
  @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Fira+Code:wght@300;400;500;600;700&family=Sen:wght@400;500;600;700;800&display=swap');

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}
.text-center{
    text-align: center;
}