
  @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Fira+Code:wght@300;400;500;600;700&family=Sen:wght@400;500;600;700;800&display=swap');

body{
    margin: 0px 10%;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
    background-color: #080F11;
    color: white;
}
