/* CardGrid.css */

.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 5%;
  }
  
  .category-container {
    width: 100%;
    margin: 30px;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Display only four cards in a row */
    gap: 20px;
  }

  .card-container p{
    margin-top: 1.5rem;
    font-size: 1.1rem;
    line-height: 1.3;
    color: #b2b9c6;
  }
  .card {
    text-align: center;
    padding: 20px;
    max-height: 450px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 19px;
    transition: transform 0.3s;
  }
  .card:hover {
    transform: scale(1.05); /* Add your desired hover effect */
  }
  
  .card img {
    max-width: 50%;
    height: auto;
  }
  
  .roadmap-btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    background-color: #219653; /* Add your desired color */
    color: #fff; /* Add your desired color */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 19px;
  }
  
  .roadmap-btn:hover {
    background-color: #27ae60; /* Add your desired hover color */
  }
  
  /* Add a media query to adjust the layout for smaller screens */
@media (max-width: 1200px) {
    .card-container {
      grid-template-columns: repeat(3, 1fr); /* Display three cards in a row for screens <= 1200px */
    }
  
    /* You can further adjust the layout for smaller screens as needed */
    @media (max-width: 800px) {
      .card-container {
        grid-template-columns: repeat(2, 1fr); /* Display two cards in a row for screens <= 800px */
      }
  
      /* Adjust for even smaller screens if needed */
      @media (max-width: 600px) {
        .card-container {
          grid-template-columns: 1fr; /* Display one card per row for screens <= 600px */
        }
      }
    }
  }