/* Add this keyframes section at the beginning of your CSS file or style block */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.login-title{
  text-align: center;
  margin:80px auto 0px;
}
/* Overall layout */
.main-container-login {
  animation: fadeIn 0.5s ease-in-out; /* Apply fadeIn animation to main-container-login */
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 45rem;
  margin:60px auto;
  overflow: hidden;
  border: solid rgba(255, 255, 255, 0.058) !important;;
  border-radius: 0.5rem;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 18px 50px -10px;

}

/* Image container */
.img-container {
  display: none;
  height: 150px;

}

@media (min-width: 768px) {
  .img-container {
      display: block;
      flex: 1;
      background-size: cover;
  }
}

.img-container img {
  width: 100%;
  height: 300%;
  
}

/* Form container */
.form-container {
  flex: 1;
  padding: 2rem;
  line-height: 1.5;
}

/* Logo */
.logo {
  width: auto;
  height: 2.25rem;
}

.logo-container{
 
  margin-left: 145px;


}

/* Welcome text */
.welcome-text {
  margin-top: 0;
  font-size: 1.25rem;
  text-align: center;
  color: #4b5563;
  font-weight: bolder;
}

/* Sign-in text */
.signin-text {
  font-weight: bold;
 
}

/* OR Divider */
.or-divider {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: #4b5563;
}

.divider-line {
  flex: 1;
  height: 1px;
  background-color: #4b5563;
}

.or-text {
  margin: 0 0.5rem;
}

/* Input container */
.input-container {
  margin-bottom: 1rem;
}

/* Input field */
.input {
  width: 95%;
  padding: 0.5rem;
  border: 1px solid #cbd5e0;
  border-radius: 1rem;
  outline: none;
  font-size: 1rem;
  background-color: transparent; 
  color: white !important;
}

/* Label */
.label {
  display: block;
  margin-bottom: 0.25rem;
  color: #4b5563;
}

/* Sign-in button container */
.signin-button-container {
  margin: 1rem auto;
}

/* Sign-in button */
.signin-button {
  width: 100%;
  padding: 0.5rem;
  color: white;
  background-color: #3b73c2;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  outline: none;
  margin-top: 15px;
}

.signin-button:hover {
  background-color: #2d3748;
}

/* Sign-up link */
.signup-link {
  color: #4b5563;
  text-decoration: none;
  margin-top: 3%;
}

.signup-link:hover {
  text-decoration: underline;
  color: lightblue;
  transition: all ease-in-out .3s;
}

/* Add this CSS to your existing Login.css or create a new CSS file */
.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url('../../components/assets/view.png'); /* Add your eye icon image */
  background-size: cover;
  cursor: pointer;
  color: white !important;

}

.eye-icon.open {
  background-image: url('../../components/assets/hide.png'); /* Add your open eye icon image */
  color: white !important;
}

.password-input {
  position: relative;
  display: flex;
  align-items: center;
}

/* Example media query for responsiveness */
@media screen and (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .eye-icon {
      right: 5px;
  }
}

