/* NewsApp.css */
.top-section {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .top-section h1 {
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 5%;

  }
  
  .top-section p {
    color: #555;
    font-size: 16px;
    font-weight: 300;
  }
  