/* styles.css */

.pricing-section {
    position: relative;
    padding: 56px 0;
}

.gradient-background {
    position: absolute;
    inset: 0;
    background: linear-gradient(106.89deg, rgba(192, 132, 252, 0.11) 15.73%, rgba(14, 165, 233, 0.41) 15.74%, rgba(232, 121, 249, 0.26) 56.49%, rgba(79, 70, 229, 0.4) 115.91%);
    filter: blur(118px);
    max-width: 1180px;
    height: 800px;
    margin: auto;
}

.pricing-container {
    position: relative;
    max-width: 1180px;
    margin: auto;
    color: #ffffff;
    padding: 0 20px;
}

.pricing-content {
    max-width: 540px;
    margin: auto;
    text-align: center;
}

.pricing-title {
    color: #64d2d0;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 12px;
}

.pricing-subtitle {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px;
}

.pricing-description {
    max-width: 540px;
    margin: auto;
}

.pricing-options {
    display: flex;
    justify-content: space-around;
    margin-top: 64px;
}

.pricing-option {
    flex: 1;
    background-color: #2d37485c;
    border-radius: 8px;
    padding: 24px;
    margin: 0 10px;
    line-height: 2;
}

.most-popular {
    border: 2px solid #64d2d0;
}

.pricing-details {
    text-align: center;
}

.pricing-name {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.pricing-price {
    font-size: 36px;
    font-weight: 600;
    color: #64d2d0;
}

.price-unit {
    font-size: 18px;
}

.pricing-desc {
    font-size: 14px;
    color: #cbd5e0;
    margin-top: 16px;
}

.pricing-button {
    /* padding: 12px 24px;
    background-color: #64d2d0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    margin-top: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease; */

    background-image: linear-gradient(to right, #3a7bd5 0%, #3a6073  51%, #3a7bd5  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white; 
    
    border-radius: 10px;
    box-shadow: 0 0 20px #eeeeee30;
    font-weight: bold;
    font-size: 1.2rem;
}

.pricing-button:hover {
    /* background-color: #4db6ac; */
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.pricing-features {
    list-style-type: none;
    margin-top: 24px;
}

.feature-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #cbd5e0;
    line-height: 2.2;
}

.feature-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    
}

.most-popular-icon {
    color: #64d2d0;
}