.App {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: linear-gradient(to right, #33ccff 0%, #ff66cc 88%);
}
.Resume {
  background: linear-gradient(106.89deg, rgba(192, 132, 252, 0.11) 10.73%, rgba(14, 165, 233, 0.41) 15.74%, rgba(232, 121, 249, 0.26) 56.49%, rgba(79, 70, 229, 0.4) 115.91%);
    
}