/* NewsApp.css */
.news-app-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin: 0% 5%;
  }
  
  
  .news-left-section {
    width: 75%;
  }
  
  .news-right-section {
    width: 25%;
    border-left: 1px solid #ccc;
    padding-left: 20px;
  }
  
  .search-filter {
    margin-bottom: 20px;
  }
  
  .news-card-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .news-card {
    width: 40%;
    margin: 10px;
    padding: 18px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #33333384;
  }
  
  .news-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .news-card h3 {
    font-size: 16px;
    margin-top: 10px;
  }
  
  .news-card button {
    background-color: #219653;
    color: white;
    font-weight: 700;
    padding: 5px 10px;
    border: none;
    border-radius: 19px;
    cursor: pointer;
  }
  
  .news-card button:hover {
    background-color: #27ae60;
  }
  
  .news-small-card {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8%;
  }
  
  .news-small-card h4 {
    font-size: 16px;
  }
  
  .news-small-card a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
  }
  
  .news-small-card a:hover {
    text-decoration: underline;
  }
  

  /* Small devices (landscape phones) */
@media only screen and (max-width: 767px) {
  .news-app-container {
      flex-direction: column;
  }

  .news-left-section {
      width: 100%;
  }

  .news-right-section {
      display: none; /* Hide the right-side section on small devices */
  }

  .news-card {
      width: 100%;
  }
}