/* Add this keyframes section at the beginning of your CSS file or style block */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Signup.css */


/* Signup title */
.signup-title {
  text-align: center;
  margin: 80px auto 0;
}

/* Overall layout */
.main-container-signup {
  animation: fadeIn 0.5s ease-in-out; /* Apply fadeIn animation to main-container-login */
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;
  max-width: 45rem;
  margin: 60px auto;
  overflow: hidden;
  border: solid rgba(255, 255, 255, 0.058);
  border-radius: 0.5rem;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 18px 50px -10px;


}

/* Form container */
.form-container {
  flex: 1;
  padding: 2rem;
  line-height: 1.5;
}

/* Input container */
.input-container {
  margin-bottom: 1rem;
}

/* Input field */
.input {
  width: 95%;
  padding: 0.5rem;
  border: 1px solid #cbd5e0;
  border-radius: 1rem;
  outline: none;
  font-size: 1rem;
  background-color: transparent; 
  color: white !important;
}

/* Label */
.label {
  display: block;
  margin-bottom: 0.25rem;
  color: #d4dbe4;
}

/* Sign-up button container */
.signup-button-container {
  margin: 1rem auto;
}

/* Sign-up button */
.signup-btn {
  width: 100%;
  padding: 0.5rem;
  color: white;
  background-color: #3b73c2;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  outline: none;
  margin-top: 15px;
}

.signup-button:hover {
  background-color: #2d3748;
}

/* Sign-in link */
.signin-link {
  color: #4b5563;
  text-decoration: none;
  margin-top: 3%;
}

.signin-link:hover {
  text-decoration: underline;
  color: lightblue;
  transition: all ease-in-out 0.3s;
}
